<template>
    <div>
        <form @submit="addTodo">
        <input type="text" v-model="titulo"  name="titulo" placeholder="Add Todo...">
        <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</template>

<script>
import uuid from 'uuid';

export default {
    nome:"AddTodo",
    data(){
        return{
            titulo:''
        }
    },
    methods:{
        addTodo(e){
            e.preventDefault();
            const newTodo={
                id: uuid.v4(),
                titulo: this.titulo,
                completo: false        
            }
            this.$emit('add-todo', newTodo);
            this.titulo = '';
        }
    }
}
</script>

<style scoped>
    form{
        display: flex;
    }
    input[type="text"]{
        flex: 10;
        padding: 5px;
    }
    input[type="submit"]{
        flex:2;
    }
</style>