<template>
  <div/>
</template>
<script>
export default {
  
  gethtml(endereco){
    return new Promise((resolve,reject) =>{
      var request = new XMLHttpRequest();
      request.open("GET", endereco, true);
      request.setRequestHeader("Content-Type", "Application/json");
      try{
        request.send();
        request.onreadystatechange = function(){
          if (request.readyState == request.DONE){
            if (request.status == 200){
              resolve(request.response);
            }
            reject(request.response);
          }
        };
      }catch(err){
        reject(err);
      }
    });
  }  
}
</script>
