<template>
    <div>
        <div v-bind:key="todo.id" v-for="todo in todos">
        <Item v-bind:todo="todo" v-on:delete-todo="$emit('delete-todo',todo.id)" />
        </div>
    </div>
</template>

<script>
import Item from './Item';
export default {
    nome:"Todos",
    components:{
        Item
    },
    props:["todos"]
}
</script>
<style scoped>

</style>