<template>
  <div id="app">    
    <Header />
    <AddTodo v-on:add-todo="addTodo"/>
    <Todos v-bind:todos="todos" v-on:delete-todo="deleteTodo" />
  </div>
</template>

<script>
import Todos from './components/Todos';
import Header from './components/layout/header';
import AddTodo from './components/AddTodo';
import Conexao from './components/Conexao';

export default {
  name: 'app',
  components: {
    Todos,
    Header,
    AddTodo
  },
  data(){
    return{
      todos:[
        {id: 1,
        titulo:'algo' ,
        completo: true
        },
      ]
    }
  },
  methods:{
    deleteTodo(id){
      this.todos = this.todos.filter(todo => todo.id !==id);
    },
    addTodo(newTodo){
      this.todos = [...this.todos, newTodo];
    }    
  },
  
  created(){    
    Conexao.gethtml("https://jsonplaceholder.typicode.com/todos").then((res)=> {
      this.todos = res;
      console.log(res);     
      }).catch((err)=>{this.todos = err});
    }
  
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover{
  background: #666;
}
</style>